/* line 3, ../../app/stylesheets/index.sass */
body {
  background-color: #fff;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

/* line 9, ../../app/stylesheets/index.sass */
h1 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -2px;
  margin-top: 20px;
}

/* line 15, ../../app/stylesheets/index.sass */
p {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  color: #a4a4a4;
}

/* line 24, ../../app/stylesheets/index.sass */
a:link, a:active, a:hover, a:visited {
  color: #000;
  text-decoration: none;
}
/* line 28, ../../app/stylesheets/index.sass */
a:hover {
  color: #777;
  text-decoration: underline;
}

/* line 33, ../../app/stylesheets/index.sass */
div#container {
  width: 800px;
  margin: 0 auto;
  text-align: left;
  padding-left: 50px;
}
/* line 39, ../../app/stylesheets/index.sass */
div#table {
  padding-top: 0px;
  text-align: left;
  margin: 0 auto;
  clear: both;
}

/* line 45, ../../app/stylesheets/index.sass */
ul#contents {
  margin-top: 30px;
}
/* line 48, ../../app/stylesheets/index.sass */
ul#contents li {
  margin-top: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #e1e1e1;
  list-style: none;
}
/* line 55, ../../app/stylesheets/index.sass */
ul#contents li a {
  color: #000;
}
