- title "Posts"

- content_for(:buttons) do
  = link_to 'Add New Post', new_admin_post_path, :id => 'new-post-button'

#posts
  %h3
    All Posts
  
  %ul
    - @posts.each do |post|
      %li
        %p.highlight
          =link_to post.title, admin_post_path(post)
        %p.small
          By
          =h post.author
          on
          =h display_date post.created_at
          with
          =h post.comments.size
          = post.comments.size != 1 ? "Comments" : "Comment"