!!! html
%html
  %head
    %link{:href => "/stylesheets/posts/#{@post.slug}.css", :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}

    
  %body
    = Haml::Engine.new(@post.body, :options => {:ugly => true, :format => :html5, :escape_html => true}).render
    